
.new-people {
  background: linear-gradient(90.27deg, #000 .32%, rgba(0,0,0,0) 67.24%), url(../img/three-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 217px 0px 176px 0px;
  &__wrap {

  }
  &__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  &__descr {
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 40px;
    p {
      max-width: 404px;
    }
  }

}